// MAX-WIDTH CONTAINER SIZE
$max-width: 1920;

// BREAKPOINTS
$mobile: 599;
$desktop: $mobile + 1;

// COLORS
$white: hsl(0, 0%, 100%);
$white-dark: hsl(0, 0%, 97%);
$gray-light: hsl(0, 0%, 84%);
$gray-middle: hsl(0, 0%, 35%);
$gray-dark: hsl(0, 0%, 21%);
$gray-apply: hsl(0, 0%, 10%);
$gray-img: hsl(210, 3%, 27%);
$orange-white: hsl(23, 100%, 97%);
$orange-light: hsl(26, 100%, 72%);
$orange-middle: hsl(26, 82%, 65%);
$orange-dark: hsl(26, 62%, 56.7%);

// SIZE
